<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DOG BREED IDENTIFICATION</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Topbar Start -->
    <!-- <div class="container-fluid border-bottom d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Our Office</h6>
                        <span>123 Street, New York, USA</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center border-start border-end py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Email Us</h6>
                        <span>info@example.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center py-2">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Call Us</h6>
                        <span>+012 345 6789</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0 mb-5">
        <a href="index.html" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Dog Breed</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <a href="about.html" class="nav-item nav-link active">About</a>
             <!-- <a href="service.html" class="nav-item nav-link">Service</a>
                <a href="product.html" class="nav-item nav-link">Product</a>  -->
                 <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="price.html" class="dropdown-item">Pricing Plan</a>
                        <a href="team.html" class="dropdown-item">The Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="blog.html" class="dropdown-item">Blog Grid</a>
                        <a href="detail.html" class="dropdown-item">Blog Detail</a>
                    </div> -->
                <!-- </div>  -->
                <a href="about.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></a>
            </div> 
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Result</h6>
                <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                    <h1 class="display-5 text-uppercase mb-0">Your Dog is Pug </h1>
                </div>
                <h3 class="display-5 text-uppercase mb-0">More about Your PET </h3>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-house display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Nutrition</h5>
                            <p>The Pug should do well on a high-quality dog food, whether commercially manufactured or home-prepared with your veterinarian's supervision and approval. Any diet should be appropriate to the dog's age (puppy, adult, or senior). Pugs live to eat and are prone to obesity, so watch your dog's calorie consumption and weight level. , so watch your dog's calorie consumption and weight level. Treats can be an important aid in training, but giving too many can cause obesity. Learn about which human foods are safe for dogs, and which are not. Check with your vet if you have any concerns about your dog's weight or diet. Clean, fresh water should be available at all times.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-food display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Exercise</h5>
                            <p>Given the opportunity, a Pug will happily spend much of the day snuggling on the sofa'¿which, combined with the breed's fondness for eating, makes obesity a real possibility. But the Pug is playful, sturdy, and lively, too, and owners can keep the breed fit with daily opportunities for moderate exercise, such as walks or play sessions in the yard. It's vital to remember that as a short-faced breed Pugs aren't tolerant of hot weather, and they shouldn't do strenuous exercise when it's warm or humid out'¿better to be in air-conditioning. Some canine sports in which Pugs participate and excel include agility, obedience, and rally.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-grooming display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Health</h5>
                            <p>The Pug's dark, appealing eyes are one of his main attractions, but also one of his vulnerable spots. Eye problems including corneal ulcers and dry eye have been known to occur. Like all flat-faced breeds, Pugs sometimes experience breathing problems and do poorly in sunny, hot, or humid weather. The website of the breed's parent club, the Pug Dog Club of America, offers detailed information on breed health.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-cat display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Living with</h5>
                            <p>Pugs are extremely easy to keep and have a serious tendency to become obese unless their diet and exercise are watched carefully. With the short muzzle, they do not do well in hot, humid weather and must be observed carefully for heatstroke. Pugs do tend to snore, again a result of the short muzzle. The prominent eyes are easily injured and care must be taken to keep them moist. Pugs are fairly robust and often live to 14 or 15 years of age.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div> 
                </div>
                 <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-dog display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Personality</h5>
                            <p>Pugs are not the lively socialites that some of the toy breeds are. They are a bit more serious, with a dry sense of humor. The breed motto is "multum in parvo," meaning a lot in a little, with plenty of dog in a small package. Pugs can be stubborn but normally want to please.These are fairly laid-back dogs, not usually given to extensive barking, digging or chewing. Pugs tend to get along well with other dogs and are sturdy enough to get along with children. They enjoy company and can be quite affectionate. True to their grouping, they are good companion dogs.</p>

                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <!-- <i class="flaticon-vaccine display-1 text-primary me-4"></i> -->
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Size</h5>
                            <p>Size:
                                Weight Range:
                                Male: 14-18 lbs.
                                Female: 14-18 lbs.
                                Height at Withers:
                                Male: 11 in.
                                Female: 12 in.
                                Features:
                                Brachycephalic (squashed face), floppy ears (naturally)</p>
                            <a class="text-primary text-uppercase" href="">Read More<i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    
    <script src="js/main.js"></script>
    <div class="container-fluid bg-dark text-white-50 py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white" href="#">dogbreed@gmail.com</a>. All Rights Reserved.</p>
                </div>
                 <!-- <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white" href="https://htmlcodex.com">HTML Codex</a></p>
                </div>  -->
            </div>
        </div>
    </div>
</body>

</html>